<div class="center jumbotron">
  <h1>Welcome to InstaClone</h1>
  <%= link_to "アカウントを作成", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Facebookでログイン","", class: "btn btn-lg btn-primary"%>
</div>